/* ====== ABOUT PAGE ====== */
.intro {
  height: 504px;
  width: 100%;
  background-color: rgba(201, 200, 198, 1);
  text-align: center;
}

.sub-head {
  font-weight: bold;
  padding: 90px 0 10px 0;
  margin-left: 0;
}

.about {
  margin: 10;
  padding: 0 20px 100px 20px;
}

@media only screen and (min-width: 320px) {
  .about-page {
    height: 1365px;
  }

  .intro {
    padding: 0 10px 0 10px;
  }

  .about .sub-head {
    padding-top: 50px;
  }

  .about p {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .intro p {
    width: 530px;
  }
  .about {
    width: 100%;
  }

  .about p {
    width: 30rem;
    margin: 0;
  }
}

@media only screen and (min-width: 1300px) {
  /* ====== ABOUT PAGE ====== */
  .about-page {
    height: auto;
  }
  .intro {
    height: 504px;
    width: 100%;
  }

  .intro h2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .intro p {
    width: 730px;
  }

  .sub-head {
    padding: 90px 0 10px 0;
    margin-left: 0;
  }

  .about {
    padding-bottom: 100px;
    width: 100%;
  }

  .about p {
    width: 50rem;
    margin: 0;
  }
}
